[submodule "ci"]
	path = ci
	url = git@github.com:AH-WELLNESS-HUB/ah-wellness-hub-ci-cd.git
	branch = main
[submodule "docs"]
	path = docs
	url = git@github.com:AH-WELLNESS-HUB/ah-wellness-hub-docs.git
	branch = main
